svg {
  max-width: 90%;
}
#mouth-sad,
#eyes-laughing,
#eyebrow-sad-right,
#eyebrow-sad-left,
#open-mouth,
#tongue,
#mouth-scared,
#mouth-sad,
#mouth-worry {
  display: none;
}
@media (max-width: 699px) {
  .container {
    width: 90%;
  }
    .bottom {
    margin-top: 1em;
      max-width:90%;
  }
}
@media (max-width: 399px) {
  .container {
    padding: 20px;
  }
  .bottom {
    // margin-top: 0em;
    // max-width: 90%;
    h2 {
      font-size: 24px;
    }
  }
  .buttons {
    flex-direction: column;
    button {
      margin-right: 0;
    }
  }
  svg {
    padding-top: 0;
  }
}
